# Ignore video files
*.avi
*.mp4
*.mkv
*.flv
*.mov
*.wmv
*.m4v
*.mpg
*.mpeg

# Ignore picture files
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.ico
*.webp

# Ignore virtual environment directories
venv/
env/
.env/
.venv/
env/
env.bak/
venv.bak/
